@model IEnumerable<HotArticles>
@using Corgi.Models;

@foreach (var story in Model)
{
    <div class="newsWrap">
        <div class="hotNews">
            <div class="addButton">
                <a href="#" class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-plus" onclick=""></span> Story
                </a>
            </div>
            @*<div class="form-group">
                @Html.LabelFor(model => story.NewsFeedId, "NewsFeedId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("NewsFeedId", ViewBag.NewsFeedItem as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => story.NewsFeedId, "", new { @class = "text-danger" })
                </div>
            </div>*@
            <h4>
                @story.StoryName
            </h4>
        </div>
        <div class="hotNewsUrl">
            <h5>
                @story.Url
            </h5>
        </div>
    </div>
}
