@model IEnumerable<HotArticles>


@using Corgi.Models;

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <input class="input-group" type="text" id="needle" />
    <button id="searchButton" onclick="searchNews();"><i class="glyphicon glyphicon-search"></i> </button>
</div>
<div id="results">
    @foreach (var story in Model)
    {
        <div class="newsWrap">
            <div class="hotNews">
                <div class="addButton">
                    <a href="#" class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-plus" onclick="Create([Bind(Include = "Id,StoryName,Url,NewsFeedId")"></span> Story
                    </a>
                </div>
                @*TODO: make this work, news Feed ID dropdown
                <div class="form-group">
                    @Html.LabelFor(story => story.NewsFeedId, "NewsFeedId", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("NewsFeedId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(story => story.NewsFeedId, "", new { @class = "text-danger" })
                    </div>
                </div>*@
                <h4>
                    @story.StoryName
                </h4>
            </div>
            <div class="hotNewsUrl">
                <h5>
                    @story.Url
                </h5>
            </div>
        </div>
    }
</div>