@model IEnumerable<NewsFeed>

@{
    ViewBag.Title = "Corgi News";
}
@using Corgi.Models;

<html>

<head>

</head>

<body>

    <div class="wholeWrap">
        <div class="phrase">
            <img class="slogan" src="~/Images/phrase.png" alt="Alternate Text" height="50" />
        </div>


        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <hr />
            <div class="col-md-12" style="clear:both;">
            </div>

    <!--1st HeadLine -- NewsFeedId: 1-->
            <div class="col-md-12">
                <div class="headLines">
                    @foreach (var newsfeed in Model)
            {
            if (newsfeed.Id == 1)
            {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest" aria-expanded="true" aria-controls="collapseTest">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h2><center>@newsfeed.StoryName</center></h2>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest">
                                @foreach (var article in newsfeed.Articles)
                        {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                        }
                            </div>
                        </div>
                    </div>
            }
            }
                </div>
            </div>
    <!--2nd HeadLine -- NewsFeedId: 4-->
            <div class="col-md-12">
                @foreach (var newsfeed in Model)
        {
            if (newsfeed.Id == 4)
            {
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTest2">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest2" aria-expanded="true" aria-controls="collapseTest2">
                                    <i class="more-less glyphicon glyphicon-plus"></i>
                                    <h2><center>@newsfeed.StoryName</center></h2>
                                </a>
                            </h4>
                        </div>

                        <div id="collapseTest2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest2">
                            @foreach (var article in newsfeed.Articles)
                    {
                        <div class="panel-body">
                            <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                        </div>
                            }
                        </div>
                    </div>
                </div>
            }
        }
            </div>
    <!--3rd HeadLine -- NewsFeedId: 5-->
            <div class="col-md-12">
                @foreach (var newsfeed in Model)
        {
            if (newsfeed.Id == 5)
            {
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTest3">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest3" aria-expanded="true" aria-controls="collapseTest3">
                                    <i class="more-less glyphicon glyphicon-plus"></i>
                                    <h2><center>@newsfeed.StoryName</center></h2>
                                </a>
                            </h4>
                        </div>

                        <div id="collapseTest3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest3">
                            @foreach (var article in newsfeed.Articles)
                    {
                        <div class="panel-body">
                            <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                        </div>
                            }
                        </div>
                    </div>
                </div>
            }
        }
            </div>
            <div class="col-md-12" style="clear:both;">
            </div>
    <!--1st Double -- NewsFeedId: 6,7,8-->
            <div class="col-md-6" id="1stDouble">
                <div class="double1">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 6)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest4">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest4" aria-expanded="true" aria-controls="collapseTest4">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest4">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
                <div class="double2">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 7)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest5">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest5" aria-expanded="true" aria-controls="collapseTest5">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest5">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
                <div class="double3">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 8)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest6">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest6" aria-expanded="true" aria-controls="collapseTest6">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest6">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
            </div>
    <!--2nd Double NewsFeedId: 9,10,11-->
            <div class="col-md-6">
                <div class="double1">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 9)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest7">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest7" aria-expanded="true" aria-controls="collapseTest7">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest7">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
                <div class="double2">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 10)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest8">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest8" aria-expanded="true" aria-controls="collapseTest8">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest8">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
                <div class="double3">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 11)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest9">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest9" aria-expanded="true" aria-controls="collapseTest9">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest9">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
            </div>
            <div class="col-md-12" style="clear:both;">
            </div>
    <!--1st Triple -- NewsFeedId: 12,13,14-->
            <div class="col-md-4" id="1stDouble">
                <div class="double1">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 12)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest10">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest10" aria-expanded="true" aria-controls="collapseTest10">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest10">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
                <div class="double2">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 13)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest11">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest11" aria-expanded="true" aria-controls="collapseTest11">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest11">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
                <div class="double3">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 14)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest12">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest12" aria-expanded="true" aria-controls="collapseTest12">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest12">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
            </div>
    <!--2nd Triple NewsFeedId: 15,16,17-->
            <div class="col-md-4">
                <div class="double1">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 15)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest13">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest13" aria-expanded="true" aria-controls="collapseTest13">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest13">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
                <div class="double2">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 16)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest14">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest14" aria-expanded="true" aria-controls="collapseTest14">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest14">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
                <div class="double3">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 17)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest15">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest15" aria-expanded="true" aria-controls="collapseTest15">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest15">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
            </div>
    <!--3rd Triple NewsFeedId: 18,19,20-->
            <div class="col-md-4">
                <div class="double1">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 18)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest16">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest16" aria-expanded="true" aria-controls="collapseTest16">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest16">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
                <div class="double2">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 19)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest17">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest17" aria-expanded="true" aria-controls="collapseTest17">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest17">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
                <div class="double3">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 20)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest18">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest18" aria-expanded="true" aria-controls="collapseTest18">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest18">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
            </div>
            <div class="col-md-12" style="clear:both;">
            </div>
    <!--1st Quarter -- NewsFeedId: 21,22,23-->
            <div class="col-md-3" id="1stDouble">
                <div class="double1">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 21)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest19">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest19" aria-expanded="true" aria-controls="collapseTest19">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest19">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
                <div class="double2">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 22)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest20">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest20" aria-expanded="true" aria-controls="collapseTest20">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest20" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest20">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
                <div class="double3">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 23)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest21">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest21" aria-expanded="true" aria-controls="collapseTest21">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest21" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest21">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
            </div>
    <!--2nd Quarter NewsFeedId: 24,25,26-->
            <div class="col-md-3">
                <div class="double1">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 24)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest22">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest22" aria-expanded="true" aria-controls="collapseTest22">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest22" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest22">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
                <div class="double2">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 25)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest23">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest23" aria-expanded="true" aria-controls="collapseTest234">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest23" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest23">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
                <div class="double3">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 26)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest24">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest24" aria-expanded="true" aria-controls="collapseTest24">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest24" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest24">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
            </div>
    <!--3rd Quarter NewsFeedId: 27,28,29-->
            <div class="col-md-3">
                <div class="double1">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 27)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest25">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest25" aria-expanded="true" aria-controls="collapseTest25">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest25" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest25">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
                <div class="double2">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 28)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest26">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest26" aria-expanded="true" aria-controls="collapseTest26">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest26" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest26">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
                <div class="double3">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 29)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest27">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest27" aria-expanded="true" aria-controls="collapseTest27">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest27" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest27">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
            </div>
    <!--4th Quarter NewsFeedId: 30,31,32-->
            <div class="col-md-3">
                <div class="double1">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 30)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest28">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest28" aria-expanded="true" aria-controls="collapseTest28">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest28" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest28">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
                <div class="double2">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 31)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest29">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest29" aria-expanded="true" aria-controls="collapseTest29">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest29" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest29">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
                <div class="double3">
                    @foreach (var newsfeed in Model)
            {
                if (newsfeed.Id == 32)
                {
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTest30">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTest30" aria-expanded="true" aria-controls="collapseTest30">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        <h4><center>@newsfeed.StoryName</center></h4>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTest30" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTest30">
                                @foreach (var article in newsfeed.Articles)
                    {
                            <div class="panel-body">
                                <center><a href="@article.Url">@newsfeed.StoryName</a></center>
                            </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
                </div>
            </div>
            <div class="col-md-12" style="clear:both;">
            </div>
        }
        else
        {
            <div class="logInSplash">
                <div class="logInBg"></div>
                <div class="logInWords">
                    <h2><button type="button" class="btn btn-primary" onclick="location.href='/Account/Login/'">Log In</button> to start herding.</h2>
                </div>
            </div>
        }
        <div class="col-md-12" style="clear:both;">
        </div>

    </div>

</body>

</html>